ul.topnav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #c0c0c0;
}
ul.topnav li {
	float: left;
}
ul.topnav li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: black;
}
ul.topnav li a:hover:not(.active) {
	background-color: hsl(220, 100%, 75%);
}
ul.topnav li a.active {
	background-color: hsl(4, 100%, 75%);
}
ul.topnav li.right {
	float: right;
}
@media screen and (max-width: 480px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
	}
}